<div class="card h-100 shadow-sm">
    <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="image-fluid bg-info" >
    <div class="card-body d-flex flex-column">

        <a href="#">
            {{product.name}}
        </a>

        <span class="mb-2">
            {{product.price | currency:'NGN':'symbol-narrow'}}
        </span>
      
     
        <div class="btn-group mt-auto">
          <button type="button" class="btn btn-sm btn-outline-secondary fa fa-shopping-cart mr-2"></button>
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
        </div>
       
    </div>
  </div>
