<div class="container">
    <div class="row">
        <section class="col-3">
            <h5 class="text-warning ml-3">Sort</h5>
            <select class="custom-select form-select-sm mb-3" 
              style="width: 300px;" 
              aria-label=".form-select-lg"
              (change)="onSortSelected($event.target.value)">
              <option *ngFor="let option of sortOptions"
                [value] = "option.value"
              >{{option.name}}</option>
            </select>

            <h5 class="text-warning ml-3 mt-3">Brands</h5>
            <ul class="list-group my-3" >
                <li class="list-group-item"
                  *ngFor="let brand of brands"
                  [class.active]="brand.id === this.shopParams.brandId"
                  [value] = "brand.id"
                  (click) = "onBrandSelected(brand.id)"
                  >{{brand.name}}               
                </li>
                
              </ul>
              
              <h5 class="text-warning ml-3">Types</h5>
              <ul class="list-group my-3">
                <li class="list-group-item" 
                  *ngFor="let type of types"
                  [class.active]="type.id === this.shopParams.typeId"
                  [value] = "type.id"
                  (click) = "onTypeSelected(type.id)"
                 >{{type.name}}
              </li>
         
              </ul>
        </section>

        <section class="col-9">
          <div class="d-flex justify-content-between align-items-center pb-2">

            <app-paging-header
              [pageIndex] = "this.shopParams.pageIndex"
              [pageSize]= "this.shopParams.pageSize"
              [totalCount]= "this.totalCount"
            ></app-paging-header>

            <div class="form-inline mt-2">
              <input class="form-controlName me-2  mr-2 ml-2" (keyup.enter)= "onSearch()" style="width: 250px; height: 33px;" #search type="text" placeholder="Search" >
              <button class="btn btn-outline-primary mb-2 my-2 me-2" (click) = "onSearch()"  type="submit">Search</button> 
              <button class="btn btn-outline-success ml-2 mb-2 my-2" (click) = "onClear()" type="submit">Reset Filter</button>   
            </div>           
          </div>
          
          <div class="row">
              <div class="col-4 mb-4" *ngFor="let item of products">
                <app-product-item [product] = "item"></app-product-item>
              </div>
              <div *ngIf="this.totalCount > 0" class="d-flex justify-content-center">
                <app-pager
                  [pageSize] = "this.shopParams.pageSize"
                  [totalCount] = "this.totalCount"
                  [pageIndex] = "this.shopParams.pageIndex"
                  (pageChanged) = "onPageChanged($event)"
                ></app-pager>
              </div>
              
          </div>
          
        </section>
    </div>
</div>
