<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white 
border-bottom shadow-sm fixed-top">
    <img src="/assets/images/logo.png" style="max-height: 70px" alt="logo">
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
      <a class="me-3 p-2 text-dark text-decoration-none" href="#">Home</a>
      <a class="me-3 p-2 text-dark text-decoration-none" href="#">Shop</a>
      <a class="me-3 p-2 text-dark text-decoration-none" href="#">Contact</a>
    </nav>
    <div class="d-flex align-items-center">
        <a class="position-relative">
            <i class="me-3 fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
            <div class="cart-no me-3">5</div>
        </a>   
        <a class="me-3 btn btn-outline-secondary mr-2" href="#">Login</a>
        <a class="me-3 btn btn-outline-secondary mr-3" href="#">Sign Up</a>
    </div>
  </div>
  
     